# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Environment
venv/
.env
*.env

# Django
db.sqlite3
staticfiles/
media/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
venv/